<script type="text/javascript" src="<{$xoops_url}>/modules/legacy/admin/js/ThemeFinder.js"></script>
<script type="text/javascript">
jQuery(function($){
	var themeFinder = new Legacy_ThemeFinder();
	themeFinder.run();
});
</script>

<div class="adminnavi">
  <a href="./index.php"><{$smarty.const._MI_LEGACY_NAME}></a>
  &raquo;&raquo; <span class="adminnaviTitle"><a href="./index.php?action=ThemeFinder"><{$smarty.const._AD_LEGACY_LANG_THEME_FINDER_ADMIN}></a></span>
</div>

<h3 class="admintitle"><{$smarty.const._MI_LEGACY_MENU_THEME_FINDER}></h3>

<div class="tips"><{$smarty.const._AD_LEGACY_TIPS_THEME_FINDER_ADMIN}></div>
<div id="themeFinder">
	<form action="<{$themeFinderUrl}>" method="post" target="themeFinderIframe" id="themeFinderForm">
		<input type="hidden" name="api_version" value="<{$themeFinderApiVersion}>" />
		<input type="hidden" name="callback_url" value="<{$addonManagerInstallUrl}>" />
	</form>
	<iframe frameborder="0" name="themeFinderIframe" id="themeFinderIframe" style="border:0; width:100%; height: 800px; display:none;"></iframe>
</div>
<noscript>You must have JavaScript enabled to view this page as intended.</noscript>
