<h2><?php echo _INSTALL_L36?></h2>
<table class="outer">
<tr><th><?php echo _INSTALL_L37?></th><td><input type="text" name="adminname" /></td></tr>
<tr><th><?php echo _INSTALL_L38?></th><td><input type="text" name="adminmail" maxlength="60" /></td></tr>
<tr><th><?php echo _INSTALL_L39?></th><td><input type="password" name="adminpass" /></td></tr>
<tr><th><?php echo _INSTALL_L74?></th><td><input type="password" name="adminpass2" /></td></tr>
</table>

<?php echo $this->e('theme_selector'); ?>
